{% extends 'base.catalogue.html.twig'%}

{% block menu %}
    {% block image %}
    {% endblock image %} 
    {% block header %}
    {{ parent() }}
    {% block user %}
    <a href="" class="user_link">
        <i class="fas fa-user" aria-hidden="true"></i>
      </a>
    {% endblock user %}
    {% block connect %}{% endblock connect %}
    {% block deconnect %}
    <a href="{{path('app_login')}}" class="order_online">
        Deconnexion
    </a>
    {% endblock deconnect %}
    
    {% endblock header %}
{% endblock menu %}
{% block slider %}
{% endblock slider %}



{% block body %}
<div class="container">
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

    {% if items  %}

        <table class="table">
            <thead>
                <tr>
                    <th>Burger</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.burger.nom}}</td>
                        <td>{{item.burger.prix}}</td>

                        <td>
                            <button class="btn" >
                                <a href="{{path('moins',{'id':item.burger.id ~  item.burger.type} )}}">
                                    <i class="fa-solid fa-minus" style="color: #ffbe33;"></i>
                                </a>
                            </button>

                                <span style="margin: 0 10px;">{{item.quantity}}</span>

                            <button class="btn">
                                <a href="{{path('plus',{'id':item.burger.id ~  item.burger.type})}}">
                                    <i class="fa-solid fa-plus" style="color: #ffbe33;"></i>
                                </a>
                            </button>
                        </td>
                        <td>{{item.burger.prix * item.quantity}}</td>
                        <td>
                            <a href="{{ path('cart_remove',{'id':item.burger.id ~ item.burger.type}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total : </td>
                    <td>{{total}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
{#         <a href="{{path('app_login')}}" class="btn" style="color: white; background-color: #ffbe33;">Commander</a>
 #}        

        <form action="" method="post">
            <button type="submit" class="btn" style="color: white; background-color: #ffbe33;">Commander</button>
        </form>
    </div> 

    {% else %}

            
       
    {% endif %}


{% endblock %}
