{% extends 'baseges.html.twig' %}

{% block page %}
    <a class="navbar-brand ps-5" style="text-align: center;" href="index.html">Liste des Commandes</a>
 {% endblock page %}







    {% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="ml-5" style="margin-left: 14%;color:#ffbe33">
                    <h1 class="mt-4" style="font-size:32px ;">Liste des Commandes</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Liste des Commandes</li>
                    </ol> 
                </div>

                <div class="card" style=" width: 100%;">
                    <table>
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Client</th>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>   
                        </thead>
                        <tbody>
                            {% for commande in commandes %}
                                <tr>
                                    <td>{{commande.numero}}</td>
                                    <td>{{commande.users}}</td>
                                    <td>{{commande.etat}}</td>
                                    <td>{{commande.date|date('d/m/Y')}}</td>


                                    {% if commande.etat == 'valider' or commande.etat == 'annuler' %}
                                    <td>
                                        <a disabled href="#" class="btn" style="color: white; background-color: #ffbe33;">déjà réglée</a>
                                    </td>
                                    {% else %}
                                    <td>
                                        <a href="{{path('valider',{'id':commande.id})}}" class="btn" style="color: white; background-color: #ffbe33;">Valider <i class="fa-solid fa-check"></i></a>
                                        <a href="{{path('annuler',{'id':commande.id})}}" class="btn" style="color: #ffbe33; background-color: white;">Annuler <i class="fas fa-undo"></i></a>
                                    </td>
                                    {% endif %}
                                   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {# 
                        <div class = "navigation mt-3 mb-3" >
                            {{ knp_pagination_render( burgers) }}
                        </div> 
                    #}

                </div>
               
                   
            </div>
        </main>
    </div> 
    
    
    
      
    {% endblock %}

