{% extends 'base.catalogue.html.twig' %}
{% block menu %}
    {% block image %}{% endblock image %} 

    {% block header %}
    {{ parent() }}

    {% block commande %}{% endblock commande %}

    {% block connect %}{{ parent() }}{% endblock connect %}

    {% endblock header %}
{% endblock menu %}
{% block slider %}{% endblock slider %}























{% block body %}
    {% block details %}
            
        
    <div class="tout">
        {% for row in details.images %}
        {% block images %}
        <div class="image2">
            <img src="{{'/uploads/' ~ row.nom_image}}" class="image3" alt="">
        </div>
        {% endblock images %}
        {% endfor %}
        {% block cont %}
            <div class="details">
                <div class="card">
                    <div class="contenu1">
                    <h2 class="titre1">{{details.nom}}</h2>
                    <p class="titre2">{{details.description}}</p>
                        <span class="spane">{{details.prix}}FCF</span>
{#                         <button class="controle">Commander</button>
 #}                    </div>
                </div>
            </div>
        {% endblock cont %} 
    </div>


{% endblock details %}

{% block ingredient %}
    <h2 class="ingre">Les Ingredients du Burger Royal</h2>
    <div style="display: flex ; margin-left:21%;" >
        <div>
            <img src="/img/burgers/in1.jpeg" alt="">
            <p style="text-align: center;">Steak</p>
        </div>

        <div>
            <img src="/img/burgers/in7.jpeg" alt="">
            <p style="text-align: center;">Pain</p>
        </div>

        <div>
            <img src="/img/burgers/in3.jpeg" alt="">
            <p style="text-align: center;">Fromage </p>
        </div>

        <div>
            <img src="/img/burgers/in4.jpeg" alt="">
            <p style="text-align: center;">Ketchup</p>
        </div>

        <div>
            <img src="/img/burgers/in5.jpeg" alt="">
            <p style="text-align: center;">Tranches de cornichon
            </p>
        </div>

        <div>
            <img src="/img/burgers/in6.jpeg" alt="">
            <p style="text-align: center;">Oignons</p>
        </div>
    </div>
{% endblock ingredient %}

{% endblock body %}





